<table border="0" style="width: 100%;">
    <tr>
        <td style="width: 10%;">
            <a routerLink="/software/dashboard" style="color: white; text-decoration: none;">
                <img src="../../assets/logo/DMTiPACS2.png" style="height: 30px;" />
            </a>
        </td>
        <td style="width: 90%;">
            <button (click)="btnLogout()" class="pull-right" style="font-size: 15px; text-decoration: none; background: transparent; border: 0px;">
                <i class="fa fa-power-off fa-fw"></i> Logout
            </button>
        </td>
    </tr>
</table>