.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-toolbar {
  padding: 10px;
  box-shadow: 7px 7px 7px 7px #000;
  border-bottom: 1.5px solid rgb(223, 223, 223);
}

.example-is-mobile .example-toolbar {
  position: fixed;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.mat-sidenav-content-styles {
  padding: 20px;
}

.btn-xs {
  padding: 0.3rem 0;
  margin-bottom: 0.2rem;
  line-height: 1.2;
}