<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/software/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <a routerLink="/software/user">User</a>
    </li>
    <li class="breadcrumb-item active">
        User Detail
    </li>
</ol>
<div class="card">
    <div class="card-header">
        <table border="0" style="width: 100%;">
            <tr>
                <td style="width: 90%;"></td>
                <td style="width: 5%;" align="right">
                    <button mat-raised-button color="primary" id="btnUpdateUser" (click)="updateUserClick()">
                        <i class="fa fa-check"></i> Update
                    </button>
                </td>
                <td style="width: 5%;" align="right">
                    <button mat-raised-button color="warn" id="btnCloseUser" routerLink="/software/user">
                        <i class="fa fa-close"></i> Close
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="input-100-percent" appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput [(ngModel)]="userModel.FullName" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="input-100-percent" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput [(ngModel)]="userModel.UserName" disabled/>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class="input-100-percent" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea rows="5" matInput [(ngModel)]="userModel.Address"></textarea>
        </mat-form-field>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="input-100-percent" appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <input matInput [(ngModel)]="userModel.ContactNumber" />
                </mat-form-field>
                <!-- <div class="form-group">
                    <label>User Type</label>
                    <div>
                        <wj-combo-box [(ngModel)]="userModel.UserTypeId" #cboModality [itemsSource]="cboUserTypeObservableArray" [isEditable]="false"
                            [isRequired]="true" [displayMemberPath]="'UserType'" [selectedValuePath]="'Id'">
                        </wj-combo-box>
                    </div>
                </div> -->
            </div>
            <div class="col-md-6">
                <mat-form-field class="input-100-percent" appearance="outline">
                    <mat-label>User Type</mat-label>
                    <mat-select matInput placeholder="Select User Type" [(ngModel)]="userModel.UserTypeId">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let cboUserType of cboUserTypeObservableArray" [value]="cboUserType.Id">
                            {{ cboUserType.UserType }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <table border="0" style="width: 100%;">
            <tr>
                <td style="width: 95%;"></td>
                <td style="width: 5%;" align="right">
                    <button mat-raised-button color="primary" (click)="btnAddUserDoctorClick()">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body">
        <mat-progress-bar class="example-margin" [hidden]="isUserDoctorProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-bar>
        <wj-flex-grid #userDoctorFlexGrid [itemsSource]="userDoctorCollectionView" [selectionMode]="3" [frozenColumns]="2">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="95">
                <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <button mat-raised-button color="primary" class="btn-xs" (click)="btnEditUserDoctorClick()">
                        <i class="fa fa-edit fa-fw"></i> Edit
                    </button>
                </ng-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="96">
                <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <button mat-raised-button color="warn" class="btn-xs" (click)="btnDeleteUserDoctorClick()">
                        <i class="fa fa-trash fa-fw"></i> Delete
                    </button>
                </ng-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Doctor'" [binding]="'Doctor'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
        </wj-flex-grid>
    </div>
    <div class="card-footer">
        <div class="col-sm-12 btn-group" style="padding: 5px 0px 5px 0px;">
            <button type="button" class="btn btn-secondary" (click)="userDoctorCollectionView.moveToFirstPage()">
                <i class="fa fa-fast-backward"></i>
            </button>
            <button type="button" class="btn btn-secondary" (click)="userDoctorCollectionView.moveToPreviousPage()">
                <i class="fa fa-step-backward"></i>
            </button>
            <button type="button" class="btn btn-secondary" disabled style="width:100px">
                {{ userDoctorCollectionView.pageIndex + 1 }} / {{ userDoctorCollectionView.pageCount }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="userDoctorCollectionView.moveToNextPage()">
                <i class="fa fa-step-forward"></i>
            </button>
            <button type="button" class="btn btn-secondary" (click)="userDoctorCollectionView.moveToLastPage()">
                <i class="fa fa-fast-forward"></i>
            </button>
        </div>
    </div>
</div>