<ol class="breadcrumb">
    <li class="breadcrumb-item active">
        Dashboard
    </li>
</ol>
<div class="row">
    <div class="col-md-6">
        <button mat-raised-button class="btn-block" routerLink="/software/procedure">
            <br />
            <br />
            <img src="../../assets/svgicons/x-rays.svg" class="svg-icon-style-big" />
            <br />
            <br />
            <h1>Procedure</h1>
            <br />
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-6">
        <button mat-raised-button class="btn-block" routerLink="/software/modality/procedure">
            <br />
            <img src="../../assets/svgicons/mri.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Modality Procedure</h4>
            <br />
        </button>
        <br />
        <br />
        <button mat-raised-button class="btn-block" routerLink="/software/rate">
            <br />
            <img src="../../assets/svgicons/favorite.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Rate</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button mat-raised-button class="btn-block" routerLink="/software/reports">
            <br />
            <img src="../../assets/svgicons/printer.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Reports</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <button mat-raised-button class="btn-block" routerLink="/software/body/parts">
                    <br />
                    <img src="../../assets/svgicons/broken-arm.svg" class="svg-icon-style" />
                    <br />
                    <br />
                    <h4>Body Parts</h4>
                    <br />
                </button>
                <br />
                <br />
            </div>
            <div class="col-md-6">
                <button mat-raised-button class="btn-block" routerLink="/software/user">
                    <br />
                    <img src="../../assets/svgicons/key.svg" class="svg-icon-style" />
                    <br />
                    <br />
                    <h4>User</h4>
                    <br />
                </button>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/software/body/parts">
            <br />
            <img src="../../assets/svgicons/broken-arm.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Body Parts</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/software/modality/procedure">
            <br />
            <img src="../../assets/svgicons/mri.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Modality Procedure</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/software/user">
            <br />
            <img src="../../assets/svgicons/key.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>User</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/software/rate">
            <br />
            <img src="../../assets/svgicons/favorite.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Rate</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/software/procedure">
            <br />
            <img src="../../assets/svgicons/x-rays.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Procedure</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/software/reports">
            <br />
            <img src="../../assets/svgicons/printer.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Reports</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
</div> -->