<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    <mat-form-field class="input-100-percent" appearance="outline">
        <mat-label>Facility</mat-label>
        <mat-select matInput placeholder="Select Facility" [(ngModel)]='defaultSelectedFacilityId'>
            <mat-option *ngFor="let cboFacility of cboFacilityObservableArray" [value]="cboFacility.UserId">
                {{ cboFacility.UserFacility }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- <div class="form-group">
        <label>Facility</label>
        <div>
            <wj-combo-box style="width: 100%;" #cboFacility [itemsSource]="cboFacilityObservableArray" [isEditable]="false" [isRequired]="true"
                [displayMemberPath]="'UserFacility'" [selectedValuePath]="'Id'">
            </wj-combo-box>
        </div>
    </div> -->
    <br />
    <br />
</mat-dialog-content>
<mat-dialog-actions>
    <table border="0" style="width: 100%;">
        <tr>
            <td style="width: 95%;">
                <button mat-mini-fab color="warn" id="btnUpdateFacility" (click)="btnLogoutClick()">
                    <i class="fa fa-power-off fa-fw"></i>
                </button>
            </td>
            <td style="width: 5%;" align="right">
                <button mat-raised-button color="primary" id="btnUpdateFacility" (click)="btnUpdateFacilityClick()">
                    <i class="fa fa-check"></i> Done
                </button>
            </td>
        </tr>
    </table>
    <br />
    <br />
</mat-dialog-actions>