<!-- ========== -->
<!-- Navigation -->
<!-- ========== -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="border-bottom: 0.5px solid grey;">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">
            <img class="navbar-brand-logo" src="../../assets/logo/DMTiPACS2.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" routerLink=".">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink=".">Contact</a>
                </li> -->
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button class="btn btn-primary my-2 my-sm-0" routerLink="/account/login">Login</button>
            </div>
        </div>
    </div>
</nav>

<!-- ================= -->
<!-- Master Background -->
<!-- ================= -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container container-header">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <br />
                <h1>
                    Complete Software-as-a-Service (SaaS) Telerad Application with unlimited and independent cloud storage.
                </h1>
                <br />
                <button type="button" class="btn btn-info btn-lg" routerLink="/account/login">
                    <i class="fa fa-check"></i> Get Started
                </button>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</header>

<!-- ================ -->
<!-- Background Video -->
<!-- ================ -->
<!-- <header class="container-vid">
    <div class="fullscreen-video-wrap">
        <video autoplay="true" loop="loop" muted="muted" class="myVideo">
            <source src="../../assets/videos/bg-video.mp4" type="video/mp4" id="vid">
        </video>
    </div>
    <div class="header-content">
        <div class="intro-message">
            <br />
            <h1 class="intro-h1">DMTiPACS </h1>
            <h3 class="intro-h3">Image Solutions</h3>
            <br />
            <p>
                Complete Software-as-a-Service (SaaS) Telerad Application with unlimited and independent cloud storage.
            </p>
            <br />
            <button type="button" class="btn btn-info btn-lg" routerLink="/software">
                <i class="fa fa-check"></i> Get Started
            </button>
            <br />
            <br />
        </div>
    </div>
</header> -->

<!-- ============= -->
<!-- About Section -->
<!-- ============= -->
<section id="about" class="about-section">
    <div class="container">
        <br>
        <br>
        <div align="center" class="text-center">
            <img class="img-thumbnail" style="border: none;" src="../../assets/images/transaction-xray-monitor-bg.png">
        </div>
        <br>
        <br>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="lead">
                    DMTiPACS is an end-to-end cloud-based Telerad Application that covers medical equipment integration to remote reading and
                    printing of results.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
    </div>
</section>

<!-- ================ -->
<!-- Features Section -->
<!-- ================ -->
<section class="features-section showcase bg-light">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-7">
                <h4>Features:</h4>
                <br />
                <table style="border: none; width: 100%; margin-left: 15px;" border="0">
                    <tr>
                        <td style="width: 5%;">
                            <i class="fa fa-check" style="color: green"></i>
                        </td>
                        <td style="width: 95%;" class="lead">
                            100% Cloud Application with independent storage.
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">
                            <i class="fa fa-check" style="color: green"></i>
                        </td>
                        <td style="width: 95%;" class="lead">
                            Fully integrated PACS recording and real-time cloud study entries.
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">
                            <i class="fa fa-check" style="color: green"></i>
                        </td>
                        <td style="width: 95%;" class="lead">
                            Customizable DICOM code entries.
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">
                            <i class="fa fa-check" style="color: green"></i>
                        </td>
                        <td style="width: 95%;" class="lead">
                            Customizable physician's template
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">
                            <i class="fa fa-check" style="color: green"></i>
                        </td>
                        <td style="width: 95%;" class="lead">
                            Customizable result reports.
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">
                            <i class="fa fa-check" style="color: green"></i>
                        </td>
                        <td style="width: 95%;" class="lead">
                            Multi-level security with physician's electronic signature.
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">
                            <i class="fa fa-check" style="color: green"></i>
                        </td>
                        <td style="width: 95%;" class="lead">
                            Online management reports, e.g., Billing Transactions.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5">
                <br>
                <img class="img-thumbnail" style="border: none; background: #fbfbfb;" src="../../assets/images/feature-macbook-bg.png">
            </div>
        </div>
        <br>
    </div>
</section>

<!-- ================ -->
<!-- Customer Section -->
<!-- ================ -->
<section class="customer-section">
    <div class="container">
        <br>
        <br>
        <div class="text-center">
            <h2>Join our growing customers!</h2>
            <br>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="rounded-circle" src="../../assets/images/customer-alcantara.jpg" width="120"> &nbsp;
                        </div>
                        <div class="col-md-3">
                            <img class="rounded-circle" src="../../assets/images/customer-LR.jpg" width="120"> &nbsp;
                        </div>
                        <div class="col-md-3">
                            <img class="rounded-circle" src="../../assets/images/customer-margosatubig.jpg" width="120"> &nbsp;
                        </div>
                        <div class="col-md-3">
                            <img class="rounded-circle" src="../../assets/images/customer-medical-care.jpg" width="120">
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <br>
            <br>
            <a href="http://www.dmtipacs.com/Images/TeleradBrochure.pdf" class="btn btn-info btn-lg">
                <i class="fa fa-download"></i> Download Brochure
            </a>
        </div>
        <br>
    </div>
</section>

<!-- ================= -->
<!-- Digitizer Section -->
<!-- ================= -->
<section class="digitizer-section">
    <div class="container">
        <br>
        <br>
        <div class="text-center" style="padding: 0px 100px;">
            <h2>Supported Digitizers!</h2>
            <p>We support the following digitizer brands.</p>
            <img class="img-thumbnail" style="border: none; background: #fbfbfb;" src="../../assets/images/digitizer.png">
        </div>
        <br>
    </div>
</section>

<!-- =============== -->
<!-- Contact Section -->
<!-- =============== -->
<section class="contact-section">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group banner-list">
                    <li class="list-group-item">
                        <i class="fa fa-map-marker fa-fw"></i> Cebu City, Philippines 6000
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-phone fa-fw"></i> +63 32 9178123982
                    </li>
                    <li class="list-group-item">Support:
                        <a href="#">support@dmtipacs.com</a>
                    </li>
                    <li class="list-group-item">Marketing:
                        <a href="#">marketing@dmtipacs.com</a>
                    </li>
                </ul>
                <br />
            </div>
            <div class="col-md-8">
                <iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=Fuente%20Osme%C3%B1a%20Circle%2C%20Cebu%20City+(DMTiPACS)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    <a href="https://www.maps.ie/create-google-map/">Google map generator</a>
                </iframe>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

<!-- ====== -->
<!-- Footer -->
<!-- ====== -->
<footer id="footer">
    <div class="container">
        <br>
        <div class="text-center">
            <p class="copyright text-muted small">Copyright &copy; 2018 - DMTiPACS Application - Version 3.20190731</p>
        </div>
    </div>
</footer>